{% extends 'task.html' %}
{% block title %}EDIT Todo (% endblock %}
{% block content %}
      <div class="container my-3">
      <form action="/update/{{id}}">
      {% csrf_token %}
        <div class="form-group">
            <label for="title" > Task Title</label>
           <input type="title" class="form-control" id="title" name="title", value={{tasktitle}}>
        </div>
        <div class="form-group">
            <label for="desc"> Task Description</label>
            <textarea name="desc" type="desc" class="form-control" id="desc" col="20", rows="10">{{taskdesc}}</textarea>
        </div>
          <button type="submit" class="btn btn-primary" style="background-color:green;">Update</button>
      </form>
      </div>
{% endblock %}